<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid shadow position-relative py-2 fs-1">
    <a class="col-md-6 offset-md-3 text-dark no-underline">Promo Up2Dev - Montreuil</a>
  </div>
</nav>


<nav>
  <div class="container col-md-8 offset-md-3 mt-5">
    <div class="row">
        <div class="col-md-9 d-flex justify-content-between align-items-center">
            <p class="fs-2">Notre charte de promo</p>
            <button type="button" class="btn btn-danger rounded">Accès Github</button>
        </div>
    </div>
    
</div>
  <div class="container col-md-6 offset-md-3 mt-2">
    <p class="mb-1">Ces règles vont devoir s'ajouter à la charte que nous avons signés.</p>
    <p class="mb-1">Ces règles sont évidement officieuses mais elles nous unissents !</p>
    <p class="mb-1">Prenez plaisir à les découvrir !</p>
  </div>
</nav>
<nav>
  <div class="accordion container-fluid col-md-6 offset-md-3 mt-5" id="accordionExample">
    <div class="accordion-item border shadow">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          I. Engagement académique et comportement :
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <ul>
            <li>Je m'engage à prendre une part active dans les discussions en classe, à poser des questions pertinentes, et à contribuer de manière constructive.</li>
            <li>Je m'engage à ne jamais tricher ni plagier le travail d'autrui, et à respecter scrupuleusement les règles d'intégrité académique.</li>
            <li>Nous nous engageons à éviter tout jugement envers les autres, en particulier lorsque le café vient à manquer.</li>
            <li>Je m'engage à traiter mes enseignants et mes camarades avec respect et courtoisie, en évitant tout comportement perturbateur en classe.</li>
            <li>Nous éviterons toute forme de triche ou de plagiat.</li>
          </ul> 
        </div>
      </div>
    </div>
    <div class="accordion-item mt-5 border shadow">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          II. Engagement envers le groupe :
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <ul>
            <li>Chaque membre s'engage à partager au moins un article, tutoriel ou ressource pertinente.</li>
            <li>Nous nous engageons à soutenir activement les uns les autres et à célébrer ensemble nos succès, quelle que soit notre position dans le parcours d'apprentissage.</li>
            <li>Nous nous engageons à maintenir une ambiance positive et conviviale.</li>
            <li>De temps en temps, nous partagerons de bons repas ensemble.</li>
            <li>Nous nous engageons à préserver un environnement propre.</li>
            <li>Nous nous engageons à accepter l'humour de Davy.</li>
          </ul> 
        </div>
      </div>
    </div>
    <div class="accordion-item mt-5 border shadow">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          III. Respect du planning et du fonctionnement de la formation :
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <ul>
            <li>Nous nous conformerons rigoureusement aux horaires des cours, tout en gardant à l'esprit que les rêves doivent se réaliser en dehors de ces heures.</li>
            <li>En cas d'empêchement, il est impératif de prévenir à l'avance.</li>
            <li>Nous ferons des pauses lorsque nécessaire, sans attendre que "monsieur trou du jour" perce.</li>
            <li>Les formateurs veilleront à respecter les pauses convenues.</li>
            <li>Nous nous abstenons de manger de l'Andouillette dans la salle de classe.</li>
            <li>Nous prendrons soin de la lumière et des yeux de nos camarades, en les prévenant en cas de besoin.</li>
            <li>Ensemble, nous œuvrerons à la réalisation de nos diplômes, en nous motivant mutuellement.</li>
            <li>Nous pourrons compter les uns sur les autres, sauf en cas d'invasion zombie.</li>
            <li>Davy sera le responsable de la bonne signature de net Yparéo.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item mt-5 border shadow">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          IV. Bien-être et développement personnel :
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <ul>
            <li>Le mercredi soir sera réservé à au moins 2 heures d'exercice physique intensif.</li>
            <li>Nous mettrons en place des activités de cohésion pour renforcer notre groupe.</li>
            <li>Chacun s'engage à s'améliorer en anglais.</li>
            <li>Si un problème survient, nous nous engageons à en discuter ouvertement au lieu de le garder pour nous jusqu'à l'explosion.</li>
            <li>Nous prendrons un selfie de notre tête le samedi soir pour maintenir le lien entre nous tout en respectant la confidentialité.</li>
          </ul> 
        </div>
      </div>
    </div>
    <div class="accordion-item mt-5 border shadow">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          V. Sanctions pour manquements :
        </button>
      </h2>
      <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <ul>
            <li>En cas de quatre manquements à la charte en une journée, il sera nécessaire de présenter un mini exposé le lendemain pour rappeler nos engagements.</li>
            <li>Nous mettrons en place des activités de cohésion pour renforcer notre groupe.</li>
          </ul> 
        </div>
      </div>
    </div>
  </div>
</nav>
<nav>
  <div class="container col-md-6 offset-md-3 mt-5">
    <p class="mb-1">Grâce à ces différentes règles on obtient la parfaite algorithme pour que la formation se passe pour le mieux !</p>    
  </div>
</nav>
<nav>
  <div class="code container col-md-6 offset-md-3 mt-5 border rouded bg-success p-2 text-dark bg-secondary-subtle">
    <p class="mb-1">blablabla</p>    
  </div>
</nav>
